webtel:
  description: Main web/telecom server
  host: 37.200.65.220

  root:
    name: root
    password: supersecret

  sudoer:
    name: pirj
    pubkey: id_ecdsa.pub

  db:
    name: telemarket
    user: root

  deployer:
    name: thin
