.navbar .logo {
  float: left;
  padding: 5px;
}

.navbar .logo img {
  height: 32px;
}

h2 small {
  padding-left: 1em;
}

#main.container, section, .footer {
  padding-top: 40px;
  color: #eee;
}

#transparent {
  background-color: #000;
  opacity: 0.8;
}

section img {
  min-width: 100px;
  min-height: 100px;
}

.navbar {
  box-shadow: 0px 20px 15px #111;
}

.navbar .nav > li > a.work {
  color: lightblue;
}

span.error {
  color: darkred;
}

span.success {
  color: green;
}

.main {
  position:relative;
  min-width:300px;
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}
