ol,ul {
  list-style:none;
}
/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('/css/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('/css/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('/css/fonts/Roboto-Thin.ttf') format('truetype');
}

/* App css */
html, body {
  font-family: 'Roboto Light', sans-serif;
}

body {
  background-image: url('/img/stripe.png');
}

.navbar .logo {
  float: left;
  padding: 5px;
}

.navbar .logo img {
  height: 32px;
  width: 32px;
}

h2 small {
  padding-left: 1em;
}

#main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.navbar .nav > li > a.work {
  color: #264;
}

span.error {
  color: darkred;
}

span.success {
  color: green;
}

div.registertoday {
}

.register-ads p {
  padding-left: 2em;
}

#flash {
  position: absolute;
  visibility: hidden;
}

#target-title, #target-contact-name {
  margin-left: .5em;
  font-weight: bold;
}

.panel-1 { background-color: #7DC24B; }
.panel-2 { background-color: #D8DEAE; }
.panel-3 { background-color: #DDC23F; }
.panel-4 { background-color: #8EBD99; }
.panel-5 { background-color: #C84D5F; }

.hero-right-hand {
  background-color: #A38E6F;
}

.hero-right-hand form {
  margin-top: .5em;
  margin-bottom: .5em;
}

.panel {
  padding: 1em;
  border-radius: 2px;
}

.panel img {
  width: 64px;
  height: 64px;
  padding-right: 0.5em;
}

.panel p {
  font-size: 120%;
}

.less-heroic {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

pre.instructions {
  font-family: 'Roboto Light';
}

#state {
  padding: 0.5em;
  margin-bottom: .7em;
  background-color: #eee;
  opacity: 0.6;
}

#state.active:before {
  content: '';
  background: url('/img/spinner.gif') no-repeat;
  margin: 0 0.5em 0 0.5em;
  padding: 0 20px 0 0;
}

button i {
  margin-right: .5em;
}
