ol,ul {
  list-style:none;
}
/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('/css/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('/css/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('/css/fonts/Roboto-Thin.ttf') format('truetype');
}

/* App css */
html, body {
  font-family: 'Roboto Light', sans-serif;
}

.navbar .logo {
  float: left;
  padding: 5px;
}

.navbar .logo img {
  height: 32px;
  width: 32px;
}

h2 small {
  padding-left: 1em;
}

#main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.navbar .nav > li > a.work {
  color: #264;
}

.navbar .nav {
  margin: 0;
}

span.error {
  color: darkred;
}

span.success {
  color: green;
}

.register-ads p {
  padding-left: 2em;
}

#flash {
  position: absolute;
  visibility: hidden;
}

#target-title, #target-contact-name {
  margin-left: .5em;
  font-weight: bold;
}

.panel-1 { background-color: #DFB262; }
.panel-2 { background-color: #DFCC62; }
.panel-3 { background-color: #DDC23F; }
.panel-4 { background-color: #8EBD99; }
.panel-5 { background-color: #DFCC62; }

.hero-right-hand {
  background-color: #7DC24B;
}

.hero-right-hand form {
  margin-top: .5em;
  margin-bottom: .5em;
}

.panel {
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0 6px 3px -3px rgba(0,0,0,0.3);
}

/*.panel p {
  text-align: justify;
  text-justify: auto;
}
*/
.panel img {
  width: 64px;
  height: 64px;
  padding-right: 0.5em;
}

.panel p {
  font-size: 120%;
}

.less-heroic {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  box-shadow: 0 6px 3px -3px rgba(0,0,0,0.3);
}

pre.instructions {
  font-family: 'Roboto Light';
}

#state {
  padding: 0.5em;
  margin-bottom: .7em;
  background-color: #eee;
  opacity: 0.6;
}

#state.active:before {
  content: '';
  background: url('/img/spinner.gif') no-repeat;
  margin: 0 0.5em 0 0.5em;
  padding: 0 20px 0 0;
}

i {
  margin-right: .5em;
}

b.key {
  font-weight: bold;
  color: darkblue;
  background-color: #cc8;
  padding: .1em .3em 0 .3em;
}

p.campaign_title img {
  width: 32px;
  margin-right: 16px;
}

.campaign_mosaic img {
  width: 48px;
  height: 48px;
  border-color: white;
  padding-right: 0;
  margin-right: .5em;
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.4);
}

.actions button {
  margin: 1em 1em 0 0;
}

#new-contact {
  border: 1px solid lightgray;
  padding: 0 1em 1em 1em;
  margin-top: 1em;
}

#new-contact input, #new-contact button {
  margin: 1em 1em 0 0;
}
