			.dtmfrow {
				min-width: 50px;
				width: 20px;
				height: 20px;
				text-align: center;
				vertical-align: center;
			}
			
			#call_container {
				float: right;
			}
			
			#account_container {
				float: left;
			}
			
			.call {
				border: 1px solid #181469;
				width: 400px;
				height: 120px;
			}
			
			.account, #guest_account {
				border: 0px solid #181469;
				height: 50px;
				width: 300px;
				padding-left: 20px;
			}
			.account, #its {
				text-align: left;
			}
		
			#call_add {
				width: 400px;
				text-align: right;
			}
		
			.active_call {
				background-color: #DBF2C2;
			}
			
			.three_way {
				background-color: #C0DAF2;
			}
			
			#controls {
				float: left;
			}
			
			#flash {
				float: left;
				visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
			}
			
			#log {
				font-size: 13px;
			}
			
			<!--#header1 {
				background-color: #003366;
				color: white;
				height: 30px;
				width: 100%;
				padding-top: 10px;
				padding-left: 5px;
			} -->
			
			#input_source_container {

			}
			
			#status {
				
			}
			
			#sessionid {
				margin-left: 20px;
			}
			
			<!--#header1 a, #header1 a:visited, #header1 a:hover {
				color: #white;
				text-decoration: underline;
			}-->
			
			#no_mic {
				float: right;
				padding-right: 10px;
				display: none;
			}
			
			#input_source {
				float: right;
				padding-right: 10px;
			}
